name: Build nvapi64.dll

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Meson and Ninja
        run: pip install meson ninja

      - name: Find Visual Studio
        shell: pwsh
        run: |
          $installationPath = Get-VSSetupInstance `
            | Select-VSSetupInstance -Require Microsoft.VisualStudio.Workload.NativeDesktop -Latest `
            | Select-Object -ExpandProperty InstallationPath
          Write-Output "VSDEVCMD=${installationPath}\Common7\Tools\VsDevCmd.bat" `
            | Out-File -FilePath "${Env:GITHUB_ENV}" -Append

      - name: Setup and Build
        shell: pwsh
        run: |
          & "${Env:COMSPEC}" /s /c "`"${Env:VSDEVCMD}`" -arch=x64 -host_arch=x64 -no_logo && set" `
            | % { , ($_ -Split '=', 2) } `
            | % { [System.Environment]::SetEnvironmentVariable($_[0], $_[1]) }
          meson setup builddir --buildtype=release
          meson compile -C builddir

      - name: Upload nvapi64.dll artifact
        uses: actions/upload-artifact@v4
        with:
          name: fakenvapi-nvapi64
          path: builddir/src/nvapi64.dll
